#!/usr/bin/env bash
# shellcheck disable=SC2178 disable=SC2120 disable=SC1090 disable=SC2046 disable=SC2155 disable=SC2154 disable=SC2329 disable=SC2086 disable=SC2128 disable=SC2206 disable=SC2064 disable=SC2016 disable=SC2317
set -euo pipefail; ARGSH_COMMIT_SHA="${commit_sha}"; ARGSH_VERSION="${version}"
${data}[[ "${BASH_SOURCE[0]}" != "${0}" ]] || argsh::shebang "${@}"